dash==2.18.2
dash-bootstrap-components==1.7.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_auth==2.3.0
Flask==3.0.3
Flask-Session==0.8.0
gunicorn==21.2.0
pandas==2.2.3
plotly==6.0.0
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
xgboost==2.1.4
